* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header div {
  padding-top: 15px;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.header div ul li {
  display: inline-block;
}

a {
  color: #f06449;
  text-decoration: none;
}

.hero {
  position: relative;
  margin-right: 125px;
  height: 900px;
  width: 900px;
  padding: 20px;
  margin: 50px;
  border: 10px;
}
  
h1 {
  font-size: 120px;
  margin-bottom: 20px;
  color:#333
}
  
h1 span {
  color: #f06449;
}

header p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Roboto', sans-serif;  
}

.fa {
  background-color: #f06449;
  color: whitesmoke;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

section {
  height: auto;
  width: 100%;
}

/* ul {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Roboto', sans-serif;
} */

.content {
  margin: auto;
  width: 100%;
  display: inline-block;
}

p {
  font-size: 16px;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color:whitesmoke;
  height: fit-content;
  width: auto;
}

.main-styling {
  height: 800px;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  color: #333;
}

.main-styling img {
  max-height: 300px;
}

.main-styling p {
  font-size: 18px
}

.container {
  column-count: 2;
}

.contact-form {
  position: relative;
  left: 50px;
  flex: auto;
  margin: auto
}

fieldset{
margin: 2rem 0;
padding: 1em 2em;
border: solid 1px #333;
border-radius: 6px;
min-width: 200px;
font-family: 'Roboto', sans-serif;
}

legend {
  font-size: 1.25em;
  padding: 0 .25em;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

label {
  display: block;
  margin-top: 1em;
  font-family: 'Roboto', sans-serif;
}

.checks label {
  margin-top: 0;
}

label:first-of-type {
  margin-top: 0;
}

textarea {
  min-height: 8em;
  min-width: 20em;
  border: solid 1px #333;
  font-family: 'Roboto', sans-serif;
}

input[type="submit"] {
  padding: .5em 1em;
  border-radius: 6px;
  background-color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: .8em; 
}

.footer {
  height: 115px;
  background-color: #333;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.footer p {
  font-size: 15px;
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 980px) {
legend {
  font-size: 1.75em;
}
fieldset {
  width: 40%;
  min-width: 320px;
}
.checks label {
  display: inline-block;
  padding-top: .5em;
  margin-top: 0;
  margin-right: .5em;
}
} 

/* @media screen and (max-width: 768px) {
    .card {
      width: 50%;
    }
  } */