* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
  display: flex;
  background-color: black;
  opacity: 0.8;
  position: fixed;
  width: 100%;
}


#navigation {
  flex: 90%
}

.header #navigation{
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

#profilepic {
  border: 2px solid black;
  flex: 10%;  
  opacity: 1; 
}

#profile-image {
  border-radius: 50%;
  height: 60px;
  width: 65px; 
}

.header div ul li {
  display: inline-block;
  margin: 15px;
}

a {
  color: #f06449;
  text-decoration: none;
}

.content {
  display: flex;
}

.hero {
  justify-content: center;
  height: 900px;
  width: 900px;
  padding: 20px;
  margin: 50px;
  margin-top: 150px;
  margin-left: 300px;
  border: 10px;
  font-family: 'Roboto', sans-serif;
}
  
h1 {
  font-size: 120px;
  margin-bottom: 20px;
  color:#333
}
  
h1 span {
  color: #f06449;
}

header p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Roboto', sans-serif;  
}

.fa {
  background-color: #f06449;
  color: whitesmoke;
  padding: 8.5px;
  width: 32px;
  height: 32px;
  font-size: 14px;
  margin-top: 15px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

section {
  height: auto;
  width: 100%;
}

.content {
  margin: auto;
  width: 100%;
  display: inline-block;
}

p {
  font-size: 16px;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color:whitesmoke;
  height: fit-content;
  width: auto;
}

.About-me-styling {
height: 300px;
padding-top: 100px;
display: flex;
font-family: 'Roboto', sans-serif;
background-color: whitesmoke;
color: #333;
}

#about-me-title {
flex: 30%;
border-right: 3px solid #f06449;
margin: 25px;
padding: 10px;
}

#about-me-contents {
flex: 70%;
margin-top: 25px;
}

.project-styling {
height: 600px;
padding-top: 100px;
display: flex;
font-family: 'Roboto', sans-serif;
background-color: whitesmoke;
color: #333;  
}

#project-title {
flex: 30%;
border-right: 3px solid #f06449;
margin: 25px;
padding: 10px;
}

#project-contents {
flex: 70%;
}

#project-text {
font-size: 18px
}

#content-img {
height: 150px;
width: 300px;
margin-top: 25px;
}

.contact-form {
margin: auto;
width: 50%;
}

fieldset{
margin: 2rem 0;
padding: 2em 3em;
text-align: center;
border-radius: 6px;
min-width: 200px;
font-family: 'Roboto', sans-serif;
}

input {
outline: 0;
border-width: 0 0 2px;
border-color: black;

}
input:focus {
border-color: #f06449;
outline: 1px solid #000
}

textarea {
outline: 0;
border-width: 0 0 2px;
border-color: #333;
}

textarea:focus {
border-color: #f06449;
outline: 0
}

legend {
font-size: 1.25em;
padding: 0 .25em;
font-family: 'Roboto', sans-serif;
}

label {
display: block;
margin-top: 1em;
font-family: 'Roboto', sans-serif;
}

.checks label {
margin-top: 0;
}

label:first-of-type {
margin-top: 0;
}

textarea {
min-height: 8em;
min-width: 20em;
font-family: 'Roboto', sans-serif;
}

input[type="submit"] {
padding: .5em 1em;
border-radius: 6px;
background-color: #333;
font-family: 'Roboto', sans-serif;
font-size: .8em; 
}

input[type="submit"]:focus {
background-color: #f06449;
outline: 0
}

.footer {
height: 115px;
width: 100%;
background-color: #333;
padding: 50px;
font-family: 'Roboto', sans-serif;
text-align: center;
}

.footer p {
font-size: 15px;
color: black;
text-align: center;
font-family: 'Roboto', sans-serif;
}

@media (max-width: 300px) {
.hero {
  font-size: smaller;
  width: 50%;
  min-width: 320px;
}
 /* revisit how to colapse hero */

legend {
  font-size: 1.75em;
}
fieldset {
  width: 40%;
  min-width: 320px;
}
.checks label {
  display: inline-block;
  padding-top: .5em;
  margin-top: 0;
  margin-right: .5em;
}
} 
